@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7cb3fc;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212) ;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ba1fc;
    padding: 1rem;
}

.from-image img {
    width: 30rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

/*.register-button {
    display: flex;
    align-items: center;
    position: relative;
    left: 30px;
}

.register-button button {
    border: none;
    background-color: #1d7cf8;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s;
}

.register-button button:hover {
    background-color: #0651b3;
}

.register-button button a {
    text-decoration: none;
    font-weight: 00;
    color: rgb(255, 255, 255);
}*/

.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #1d7cf8;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;

}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    transition: background .3s;
}

.input-box input:hover {
    background-color: #99999975;
}

.input-box input:focus-visible {
    outline: 1px solid #1d7cf8;
}

.input-box label,
.gender-title h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.turno-shift{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.turno-inputs {
    display: flex;
    align-items: center;
}

.turno-input input {
    margin-right: 0.35rem; 
}

.turno-input label {
    font-size: 0.81rem;
    font-weight: 800;
    color: #000000c0;
}

.cadastrar-button button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: #0651b3;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s;
}

.cadastrar-button button:hover {
    background-color: #04316b;
}

.cadastrar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-whidt: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-whidt: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .turno-inputs {
        margin-top: 2rem;
    }
    .turno-shift {
        flex-direction: column;
    }
    .turno-input {
        margin-top: 0.5rem;
    }
}