
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} 
body{
    font: size 100%;
    background:  #7cb3fc;
    margin: 0;
    height: 100vh;
} 

:root{
    --cor-fundo : #0d1e52;
    --cor-hover : #2872d3;
    --cor-primaria : #ffffff;
}
/*CAIXA DE PESQUISA*/
.caixa-de-pesquisa{
    position: absolute;
    top: 3%;
    left: 40%;
    background:  #ffffff;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-de-pesquisa{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 30px;
    transition: .2s;
}

.botao-de-pesquisa{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2872d3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-family: 'Sarala', sem serifa;
}

.caixa-de-pesquisa:hover > .botao-de-pesquisa{
    background: #063a7e;
}

/*MENU*/

.dp-menu ul{
    background-color: #4b99ff;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.dp-menu ul li {
   display: inline;
   position: relative;
}

.dp-menu ul li a {
   font-weight: 500px;
   font-family: 'Righteous', cursive;
   font-size: 20px;
   color: var(--cor-primaria);
   text-decoration: none;
   display: inline-block;
   padding: 20px;
   transition: background .3s;
 }

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*SUB MENU*/
.dp-menu ul ul {
   display: none;
   left: 0;
   position: absolute;
   opacity: 0;
   transition: all .6s;
}

.dp-menu ul li:hover ul{
    display: block;
    opacity: 1;
 }

 .dp-menu ul ul {
    width: 150px;
 }

 .dp-menu ul ul li a {
    display: block;
 }
