@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7cb3fc;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212) ;
}


.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #1d7cf8;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
}

.input-group {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;

}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    transition: background .3s;
}

.input-box input:hover {
    background-color: #99999975;
}

.input-box input:focus-visible {
    outline: 1px solid #1d7cf8;
}

.input-box label,
.gender-title h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.entrar-button button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: #0651b3;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s;
}

.entrar-button button:hover {
    background-color: #04316b;
}

.entrar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
